@font-face { font-family:'yekan';src:url('fonts/dle.eot') format('eot'), url('fonts/dle.woff') format('woff'), url('fonts/dle.ttf') format('truetype') }

html,body{
	font-size: 11px;
	font-family: tahoma;
	direction: rtl;
	height:100%;
	margin:0px;
	padding: 0px;
	line-height: 20px;
	background: none;
}

img {
	border:0px;
}

hr {
	color: #999;
	border: 0px none;
	border-top: dashed 1px #ccc;
	height: 1px;
	margin: 8px 0 4px 0;
}

input,
select,
textarea {
	outline:none;
}

form {
	margin:0px;
	padding: 0px;
}

table{
	border:0px;
}

table td{
	padding:0px;
	font-size: 11px;
	font-family: Tahoma;
}

a:active,
a:visited,
a:link {
	color: #4b719e;
	text-decoration:none;
	}

a:hover {
	color: #4b719e;
	text-decoration: underline;
	}

.navigation {
	color: #999898;
	font-size: 11px;
	font-family: tahoma;
}
.edit {
	border:1px solid #9E9E9E;
	color: #000000;
	font-size: 11px;
	font-family: Tahoma; 
	BACKGROUND-COLOR: #ffffff 
}
select {
	color: #000000;
	font-size: 11px;
	font-family: Tahoma; 
	border:1px solid #9E9E9E;
}

textarea {
	border: #9E9E9E 1px solid;
	color: #000000;
	font-size: 11px;
	font-family: Tahoma; 
	background-color: #ffffff 
}

#hintbox{ /*CSS for pop up hint box */
	position:absolute;
	top: 0;
	background-color: lightyellow;
	width: 150px; /*Default width of hint.*/ 
	padding: 3px;
	border:1px solid #787878;
	font:normal 11px Tahoma;
	line-height:18px;
	z-index:100;
	border-right: 2px solid #787878;
	border-bottom: 2px solid #787878;
	visibility: hidden;
}

.hintanchor{ 
	padding-left: 8px;
}

/*--- Дополнительные поля ---*/
.xprofile textarea {
	width: 100%; height:90px; font-family:Tahoma; font-size:11px; border:1px solid #9E9E9E;background:#fff url(images/fields.png) repeat-x;
}
.xprofile input {
	width:250px; height:18px; font-family:Tahoma; font-size:11px; border:1px solid #9E9E9E;background:#fff url(images/fields.png) repeat-x;
}

.bk {
	background:#fff url(images/fields.png) repeat-x;
}

.tabs {
	font-weight: normal;
	font-family: 'yekan', tahoma;
	font-size: 13px;
	float: right;
	width:100%;
	background:change-background;
	line-height:normal;
}
.tabs ul {
	margin:0;
	padding: 4px 0 0 5px;
	list-style:none;
}
.tabs li {
	display:inline;
	margin:0;
	padding:0;
}
.tabs a {
	float:right;
	margin:0;
	padding:0 0 0 1px;
	text-decoration:none;
}
.tabs a span {
	float:right;
	display:block;
	padding: 2px 14px 5px;
	color:#505050;
	background: #eaeaea;
	border-top: 3px solid transparent;
	transition: .2s;
}

.tabs a span {float:none;}

.tabs a.current span {
	color:#fff;
	background: #4e4e4e;
	border-top: 3px solid #3498db;
}


.tabs a:hover span {
	background: #444;
	color: #fff;
}

.box {
	height: 360px;
	border: 1px solid #c1c1c1;
	overflow: auto;
}

.uploadedfile {
	width: 115px;
	height: 130px;
	margin: 10px 5px 5px 5px;
	border:1px solid #B3B3B3;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	float: left;
	text-align: center;
	background:#ffffff;

}

.uploadimage {
	margin-top: 5px;
	width: 115px;
	height: 90px;
	display: table-cell;
	text-align: center;
	vertical-align:middle;
}

.info {
	text-align: left;
	white-space: nowrap;
	margin: 0px 5px 0px 5px;
	overflow: hidden;
}

.button {
    padding:4px 10px 4px 10px;
    margin-left:2px;
    margin-top:5px;
    font: bold 11px/1.5em Tahoma;color:#000000;
    background:#F9F9F9 url('images/button.png') repeat-x;
	border:1px solid #CACACA;
	cursor:pointer;
}

.properties {

	float: left;
    margin-top:8px;
}

.linkbox {
    margin-top:5px;
    padding:10px;
	border:1px solid #B3B3B3;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background:#fff url(images/shadow.png) repeat-x;
}

#stmode {
	padding:10px;
}

.file-box {
	width: 95%;
	border:1px solid #B3B3B3;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background-color: #F5F5F5;
	padding: 10px;
	margin-top: 10px;
}

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
	display:block; /* or inline-block */
	width: 310px; 
	padding: 4px 10px 6px;
	font: 13px 'yekan', tahoma;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	direction: rtl;
	background:#80c342;
	border-bottom: 4px solid #689f37;
	cursor:pointer;
	transition: .2s;
}
.qq-upload-button-hover { background:#6faf35; border-color: #507f25; }
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:0; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:2px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:none; background: url("images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

.progress {
    overflow:hidden;
    margin-top:10px;
	margin-bottom:10px;
    background-color:whitesmoke;
    height:10px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
    background:#eee;
    -webkit-box-shadow:0 1px 0 white, 0 0px 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow:0 1px 0 white, 0 0px 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
 .progress .progress-bar {
    float:left;
    width:0%;
    font-size:12px;
    line-height:20px;
    color:white;
    text-align:center;
    background-color:#428bca;
    -webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition:width 0.6s ease;
    transition:width 0.6s ease;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow:none;
    box-shadow:none;
    height:8px;
}
.progress-bar span{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    clip:rect(0 0 0 0);
    border:0;
}
.progress-blue {
    background-image:-webkit-gradient(linear, left 0%, left 100%, from(#9bcff5), to(#6db9f0));
    background-image:-webkit-linear-gradient(top, #9bcff5, 0%, #6db9f0, 100%);
    background-image:-moz-linear-gradient(top, #9bcff5 0%, #6db9f0 100%);
    background-image:linear-gradient(to bottom, #9bcff5 0%, #6db9f0 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9BCFF5', endColorstr='#FF6DB9F0', GradientType=0);
    border:1px solid #55aeee;
}